<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Space Engineers to Stormworks Converter</title>
    <meta name="title" content="Space Engineers to Stormworks Converter">


    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">









    <link rel="stylesheet" type="text/css" href="iconfont.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="jquery.js"></script>    
    <script type="text/javascript" src="he.js"></script>    
    <script type="text/javascript" src="fast-xml-parser.js"></script>
    <script type="text/javascript" src="handlebars.js"></script>
    <script type="text/javascript" src="tmpl.js"></script>    
    <script type="text/javascript" src="script.js"></script>


    <script type="text/javascript" src="version.js"></script>    
</head>
<body>
  <div class="background"></div>
  <div class="content">
    <div id="selection">
      <button onclick="$('#file').click()">Choose file</button>
      <span id="file-information">-</span>
      <input type="file" id="file" style="display: none;" accept=".sbc">
      <button id="analyze-button" onclick="ModelConverter.convertBlob()">Convert</button>
      <span class="compatible_version">Compatibility unknown (should work)</span>
    </div>
    <div id="result-container" style="display: none;">
      <div id="navigation-container">
        <div id="navigation">
          <button id="select-other-file" onclick="$('#result-container').fadeOut(200, ()=>{$('#selection').fadeIn(200)})">Convert another vehicle</button>
          <a href="#statistics">Statistics</a>
        </div>
      </div>

      <div id="result">
      </div>
    </div>
  </div>


  <div style="display: none;">
    <div tmpl-name="stats">
      
      <h3 id="statistics">Statistics:</h3>
      <input type="checkbox" id="toggle-collapse-general-stats" onchange="toggleCollapse(this, '.general_stats_table')"><label for="toggle-collapse-general-stats">Show original names</label>
      <br/>
      <br/>
      <div class="grid_table general_stats_table collapsed">
        <div class="head">
          <div>Readable name</div>
          <div>Original name</div>
          <div></div>
        </div>
        {{#each general}}
          <div class="row">
            <div class="label">
              {{label}}
            </div>
            <div class="name">
              {{name}}
            </div>
            <div class="value">
              {{#if checkmark}}
                {{#if value}}
                  <span class="icon-checkmark"></span>
                {{/if}}
              {{else}}
                {{value}}          
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div id="analyze-progress" style="display: none">
    <div class="inner">
      <span class="category"></span>
      <span class="progress"></span>
      <span class="step"></span>
    </div>
  </div>

  <div id="information">
    <a target="_blank" rel="noopener noreferrer" class="version" href="https://gitlab.com/space-engineers-to-stormworks-converter/converter/commits/master">
      <img src="https://img.shields.io/badge/version-unknown-%239e9e9e.svg">
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/space-engineers-to-stormworks-converter/converter">Source Code</a>
  </div>



  <script type="text/javascript">
    setTimeout(()=>{
      if(typeof window.version === 'string'){
        $('#information .version').attr('href', 'https://gitlab.com/space-engineers-to-stormworks-converter/converter/tags/v' + window.version);
        $('#information .version img').attr('src', 'https://img.shields.io/badge/version-' + window.version + '-%231182c3.svg');
      }
    }, 500)
  </script>
</body>
</html>