body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

body,  * {
  box-sizing: border-box;
}



button {
  background: #000;
  border: 1px solid #bf5421;
  border-radius: 3px;
  color: #bf5421;
  padding: 8px 24px;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 20px;
}

button:hover {
  color: #000;
  background: #bf5421;
}

button[disabled] {
  border-color: #dbdbdb;
  color: #dbdbdb;
  cursor: not-allowed;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('background combined.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
}

.content {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}


#selection {
  background: rgba(0,0,0,0.7);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 6px #000;
}


#selection #file-information {
  color: #fff;
  margin-bottom: 40px;
}


#selection .compatible_version {
  color: #fff;
  font-style: italic;
}

#select-other-file {
  font-size: 16px;
}

#result-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background: rgba(0,0,0,0.6);
  margin: 50px 0;
  padding: 20px;
}

#result {
  padding: 20px;
}

#result h3 {
  color: #fff;
  margin: 1em 0 0.5em 0;
}

#result h3 + input + label {
  color: #fff;
}

#navigation-container {
  height: 100%;
  position: relative;
}

#navigation {
  position: sticky;
  top: 100px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#navigation a {
  color: #bf5421;
  margin: 5px;
}

#navigation a:hover {
  color: #fff;
}



/* TABLES */

.grid_table {
  display: inline-grid;
  grid-gap: 2px;
  padding: 2px;
  background-color: #dbdbdb;
  border-radius: 2px;
}


.grid_table .head {
  display: contents;
}

.grid_table .head > div {
  background: #dbdbdb;
  padding: 5px 10px;
  font-weight: bold;
}

.grid_table .row {
  display: contents;
}

.grid_table .row > div {
  padding: 5px 10px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}



.general_stats_table {
  grid-template-columns: auto auto 100px;
}

.general_stats_table.collapsed {
  grid-template-columns: auto 0 100px;
}



.components_table {
  grid-template-columns: auto auto 100px 100px 100px 200px;
}

.components_table.collapsed {
  grid-template-columns: auto 0 100px 100px 100px 200px;  
}

.components_table .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50px;
  background-color: #16151a !important;
}

.components_table .count {
  justify-content: flex-end;
}



.logics_table {
  grid-template-columns: auto auto 100px 200px;
}

.logics_table.collapsed {
  grid-template-columns: auto 0 100px 200px;  
}

.logics_table .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50px;
}

.logics_table .count {
  justify-content: flex-end;
}


/* color tables */
.colors_table {
  grid-template-columns: auto auto 200px auto;
}

.colors_table .row .color {
  background: linear-gradient(to right, black 0%, black 50%, white 50%, white 100%);
  margin: -1px 0 -1px 0;
  height: calc(100% + 2px);
}

.colors_table .row .color span {
  width: 100%;
  height: 1em;
}

.colors_table .row .amount {
  justify-content: flex-end;
}


/* microcontrollers list */
.microcontroller_list {
  display: inline-flex;
  flex-direction: column;
}

.microcontroller_list .microcontroller {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 2em;
  border: 1px solid #dbdbdb;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
}

.microcontroller_list .microcontroller h4 {
  margin: 0 0 0.5em 0;
}

.microcontroller_list .microcontroller .count_container {
  display: inline-flex;
  flex-direction: row;
}

.microcontroller_list .microcontroller .count {
  text-align: right;
  width: 50px;
  margin-right: 1em;
}





/* analyze progress */
#analyze-progress {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 40%;
  width: 100vw;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  color: #bf5421;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#analyze-progress .inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #bf5421;
  border-radius: 50%;
  width: 15em;
  height: 15em;
}

#analyze-progress span {
  margin: 1em 0;
}

#analyze-progress .progress {
  font-size: 200%;
  line-height: 50%;
  font-weight: bold;
}


/* information badges */
#information {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#information > * {
  margin-bottom: 5px;
}

#information a {
  color: #BF5421;
  text-decoration: none;  
}
